@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700|Roboto+Condensed:300,400,700&display=swap&subset=korean');

body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* BORDER-BOX */
body *, body *::before, body *::after {
    box-sizing: border-box;
}
.wrapper {
  width: 100%;
  padding: 20px 0;
  background-color: #bfc6d4;
}
.wrapper * {
  box-sizing: border-box;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

h1 {
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  color: #fff;
}
h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 10px;
}
.newInfo {
  width: 300px;
  margin: 20px;
  background-color: rgba(255, 255, 255, .7);
  float: left;
  padding: 25px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .1);
  /* border-radius: 10px; */
}
.newInfo input, .newInfo .submitBtn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
}
.newInfo input {
  border: 0px;
  background-color: transparent;
  border-bottom: 1.3px solid #333;
  padding-bottom: 5px;
  font-weight: 100;
  font-size: 22px;
}
.newInfo .submitBtn {
  display: inline-block;
  background-color: #2b313f;
  color: #fff;
  border: 1px solid #2b313f;
}

.namecardList {
  width: calc(100% - 380px);
  margin: 20px;
  background-color: #f4f4f4;
  float: right;
  padding: 10px;
}

.sortList {
  float: right;
  width: 70%;
  text-align: right;
  /* background-color: darkkhaki; */
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}
.sortList > li {
  display: inline-block;
}

.cardList {
  width: 100%;
  min-height: 900px;
  /* background-color: darksalmon; */
  clear: both;
}
.namecard {
  position: relative;
  padding: 20px;
  width: 350px;
  height: 210px;
  background-color: #d3d3d3;
  margin: 10px 10px 0 0;
  float: left;
  box-shadow: 3px 3px 5px rgba(160, 146, 146, 0.18);
}
.color1 {
  background: linear-gradient( 70deg, #7f8bbf, #eae0c4);
}
.color2 {
  background: linear-gradient( 70deg, #fef0c0, #e2b1a0);
}
.namecard span {
  display: block;
  line-height: 1.4;
}

.namecardInfo {
  float: left;
}
.namecardCompany {
  float: right;
  font-size: 19px;
  font-weight: 600;
}
.cardName {
  font-size: 35px;
  font-weight: 600;
}
.cardEmail {
  font-size: 13px;
  font-weight: 200;
}
.cardMobile {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 200;
}
.cardDivision {
  font-size: 15px;
}
.deleteBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 23px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: rgba(255, 255, 255, .5);
}
.deleteBtn:hover {
  color: rgba(255, 255, 255, .9);
}