@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700|Noto+Sans+KR');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 0.9em;
  color: #58666e;
  background-color: #f0f3f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  /* background-color: #ccc; */
}

.title {
  width: 100%;
  text-align: center;
  /* background-color: #eee; */
}

.chatting_block {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  margin: 0 auto;
  padding: 10px;
  background-color: #ddd;
} 
.msg_block {
  flex-grow: 1;
  padding: 12px;
  overflow-y: auto;
}
.msg_block li {
  margin-bottom: 13px;
}
.bot_block {
  display: flex;
}
.user_block {
  display: flex;
  flex-direction: row-reverse;
}
.bot_icon, .user_icon {
  width: 30px;
  height: 30px;
  border-radius: 40px;
  background-color: #ccc;
}
.bot_icon {
  margin-right: 7px;
}
.user_icon {
  margin-left: 7px;
}
.bot_msg, .user_msg {
  flex-grow: 1;
  padding: 7px 10px;
}
.bot_msg {
  background-color: orange;
  border-radius: 0 10px 10px 10px;
}
.user_msg {
  background-color: plum;
  border-radius: 10px 10px 0px 10px;
}

.user_input_block {
  position: relative;
  display: flex;
  padding-bottom: 10px;
  /* background-color: #333; */
}

.input_msg {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 10px;
}
.enter_msg {
  position: absolute;
  padding: 2px;
  right: 8px;
  top: 6px;
  font-size: 10px;
  color: navy;
  cursor: pointer;
}

/* Mobile Device */
@media  (max-width: 480px) {
  body {
    /* background-color: red; */
  }

  .container {
    width: 100%;
    min-width: 320px;
  }

  .chatting_block {
    width: 100%;
  } 
  .msg_block {
    width: 100%;
  }
}

/* Tablet Device */
/* @media  (min-width:320px) and (max-width:768px) {
  body {
    background-color: yellow;
  }
} */

/* Tablet Device */
/* @media (min-width:769px) and (max-width:1024px) {
  body {
    background-color: red;
  }
 } */
