@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700|Noto+Sans+KR');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  font-size: 0.9em;
  color: #58666e;
  background-color: #f0f3f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  margin: 0 auto;
  /* background-color: #ccc; */
}

.title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  /* background-color: #eee; */
}

.chatting_block {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: calc(100vh - 44px);
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
} 
.msg_block {
  flex-grow: 1;
  padding: 12px;
  overflow-y: auto;
}
.msg_block li {
  margin-bottom: 13px;
}
.bot_block {
  display: flex;
}
.user_block {
  display: flex;
  flex-direction: row-reverse;
}
.bot_icon, .user_icon {
  width: 30px;
  height: 30px;
  border-radius: 40px;
  background-color: #ccc;
}
.bot_msg, .user_msg {
  /* flex-grow: 1; */
  padding: 7px 10px;
  margin: 0 7px;
}
.bot_msg {
  background-color: rgb(227, 227, 227);
  border-radius: 0 10px 10px 10px;
}
.user_msg {
  background-color: rgb(176, 202, 255);
  border-radius: 10px 10px 0px 10px;
}
.bot_date, .user_date {
  display: flex;
  flex-direction: column-reverse;
}
.bot_date em, .user_date em {
  font-size: 10px;
  font-style: normal;
  color: rgb(173, 173, 173);
}

/* user input */
.user_input_block {
  position: relative;
  display: flex;
  padding: 10px 3px;
  padding-bottom: 20px;
}
.input_msg_block {
  display: flex;
  width: 100%;
}
.input_msg {
  flex-grow: 1;
  margin-right: 5px;
  padding: 10px;
  border: 0;
  outline: 0;
  font-size: 13px;
  border-radius: 50px;
  border: 1px solid #ccc;
}
/* .input_msg:focus {
  border: 1px solid rgb(176, 202, 255);
} */
.enter_msg {
  width: 37px;
  height: 37px;
  color: #fff;
  cursor: pointer;
  border: 0px;
  border-radius: 50px;
  background-color: rgb(43, 51, 106);
}

/* Mobile Device */
@media (max-width: 480px) {
  .container {
    width: 100%;
    min-width: 320px;
  }
  .chatting_block {
    width: 100%;
  } 
  .msg_block {
    width: 100%;
  }
}
